.active {
  /* background: linear-gradient(90deg, #815503, #815503); */
  background: #ffb730;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 2px;
  /* background: linear-gradient(90deg, #ff8a05, #f9b331); */
  background: #ffb730;
  border-radius: 2px;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.link:hover,
.link:active {
  background: linear-gradient(90deg, #815503, #815503);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px #815503;
}

@media (max-width: 768px) {
  .link {
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
  }

  .active::after {
    width: 40%;
  }
}